<h1>Listing events</h1>

<table>
  <thead>
    <tr>
      <th>id</th>
      <th>guid</th>
      <th>last_modified</th>
      <th>last_modifiedutc</th>
      <th>row_version</th>
      <th>body_id</th>
      <th>body_name</th>
      <th>date</th>
      <th>time</th>
      <th>video_status</th>
      <th>agenda_status_id</th>
      <th>minutes_status_id</th>
      <th>location</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @events.each do |event| %>
      <tr>
        <td><%= event.id %></td>
        <td><%= event.guid %></td>
        <td><%= event.last_modified %></td>
        <td><%= event.last_modified_utc %></td>
        <td><%= event.row_version %></td>
        <td><%= event.body_id %></td>
        <td><%= event.body_name %></td>
        <td><%= event.date %></td>
        <td><%= event.time %></td>
        <td><%= event.video_status %></td>
        <td><%= event.agenda_status_id %></td>
        <td><%= event.minutes_status_id %></td>
        <td><%= event.location %></td>
        <td><%= link_to 'Show', event %></td>
        <td><%= link_to 'Edit', edit_event_path(event) %></td>
        <td><%= link_to 'Destroy', event, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Event', new_event_path %>
