<p id="notice"><%= notice %></p>

<p>
  <strong>id:</strong>
  <%= @event.id %>
</p>

<p>
  <strong>guid:</strong>
  <%= @event.guid %>
</p>

<p>
  <strong>lastmodified:</strong>
  <%= @event.last_modified %>
</p>

<p>
  <strong>lastmodifiedutc:</strong>
  <%= @event.last_modified_utc %>
</p>

<p>
  <strong>rowversion:</strong>
  <%= @event.row_version %>
</p>

<p>
  <strong>bodyid:</strong>
  <%= @event.body_id %>
</p>

<p>
  <strong>bodyname:</strong>
  <%= @event.body_name %>
</p>

<p>
  <strong>date:</strong>
  <%= @event.date %>
</p>

<p>
  <strong>time:</strong>
  <%= @event.time %>
</p>

<p>
  <strong>videostatus:</strong>
  <%= @event.video_status %>
</p>

<p>
  <strong>agendastatusid:</strong>
  <%= @event.agenda_status_id %>
</p>

<p>
  <strong>minutesstatusid:</strong>
  <%= @event.minutes_status_id %>
</p>

<p>
  <strong>location:</strong>
  <%= @event.location %>
</p>

<%= link_to 'Edit', edit_event_path(@event) %> |
<%= link_to 'Back', events_path %>
