<% content_for :head do %>
  <%= javascript_include_tag  "https://api.tiles.mapbox.com/mapbox.js/v1.6.2/mapbox.js" %>
  <%= stylesheet_link_tag     "https://api.tiles.mapbox.com/mapbox.js/v1.6.2/mapbox.css" %>
<% end %>

<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="https://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>

<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&appId=612274872174090&version=v2.0";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

<div class="pure-g">
  <!--HEADER CONTAINER-->
  <div class="header-container pure-u-1 pure-u-lg-1-2 pure-u-md-3-5 l-box-2x">
    <div class="header">

      <h2><span>Locate</span> your council district.</h2>
      <h2><span>Learn</span> about your councilmember.</h2>
      <h2><span>Know</span> what items are being voted on.</h2>
      <h2><span>Participate</span> in Mesa's decision making processes.</h2>

      <div class="address-box pure-g">
        <label for="address" class="pure-u-1">Tell Me About My Council District:</label>
        <div id="address-container" class="pure-u-xl-19-24 pure-u-lg-17-24 pure-u-1">
          <input id="address" name="address" type="text" placeholder="Your Mesa Address"/>
        </div>
        <div id="search-btn-container" class="pure-u-xl-5-24 pure-u-lg-7-24 pure-u-1">
          <button id="search-btn" class="pure-button pure-button-primary">Search</button>
        </div>
        <p class="descript pure-u-1">example: <a href="?address=455%20West%20Baseline%20Road,%20Mesa,%20AZ%2085210,%20USA&lat=33.3781827&lng=-111.8430414">455 W Baseline Rd, Mesa, AZ</a></p>
      </div>
    </div>
  </div>
  <!-- END HEADER CONTAINER -->

  <div class="pure-u-1 pure-u-lg-1-2 pure-u-md-2-5 hide-sm">
    <div id="map"></div>
  </div>
</div> <!-- end header/search grid -->

<div id="results">
  <%= render "layouts/person" %>
  <%= render "layouts/legislative_items" %>
</div> <!-- end results -->

<%= render "layouts/mustache_templates" %>

<%= javascript_include_tag "http://techieshark.github.io/council-info/people.js" %>
<%= javascript_include_tag "addresses", "data-turbolinks-track" => true %>

<script>

$(document).ready(function() {
  districts = <%= raw @districts.to_json %>
  addDistrictsToMap(districts);

  response = <%= raw @response.to_json %>
  update_with_new(response)
})

</script>
