<h1>Listing event_items</h1>

<table>
  <thead>
    <tr>
      <th>district id</th>
      <th>title</th>
      <th>mover</th>
      <th>seconder</th>
      <th>matter name</th>
      <th>matter type</th>
      <th>matter status</th>
<!--
      <th>id</th>
      <th>guid</th>
      <th>last_modified</th>
      <th>last_modified_utc</th>
      <th>row_version</th>
      <th>event_id</th>
      <th>agenda_sequence</th>
      <th>minutes_sequence</th>
      <th>agenda_number</th>
      <th>video</th>
      <th>video_index</th>
      <th>version</th>
      <th>agenda_note</th>
      <th>minutes_note</th>
      <th>action_id</th>
      <th>action</th>
      <th>action_text</th>
      <th>passed_flag</th>
      <th>passed_flag_text</th>
      <th>rollcall_flag</th>
      <th>flag_extra</th>
      <th>tally</th>
      <th>consent</th>
      <th>mover_id</th>
      <th>seconder_id</th>
      <th>matter_id</th>
      <th>matter_guid</th>
      <th>matter_file</th> -->
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @event_items.each do |event_item| %>
      <tr>
        <td><%= event_item.council_district_id %></td>
        <td><%= event_item.title %></td>
        <td><%= event_item.mover %></td>
        <td><%= event_item.seconder %></td>
        <td><%= event_item.matter_name %></td>
        <td><%= event_item.matter_type %></td>
        <td><%= event_item.matter_status %></td>
        <td><%= link_to 'Show', event_item %></td>
        <td><%= link_to 'Edit', edit_event_item_path(event_item) %></td>
        <td><%= link_to 'Destroy', event_item, method: :delete, data: { confirm: 'Are you sure?' } %></td>
<!--    <td><%= event_item.event_id %></td>
        <td><%= event_item.id %></td>
        <td><%= event_item.guid %></td>
        <td><%= event_item.last_modified %></td>
        <td><%= event_item.last_modified_utc %></td>
        <td><%= event_item.row_version %></td>
        <td><%= event_item.event_id %></td>
        <td><%= event_item.agenda_sequence %></td>
        <td><%= event_item.minutes_sequence %></td>
        <td><%= event_item.agenda_number %></td>
        <td><%= event_item.video %></td>
        <td><%= event_item.video_index %></td>
        <td><%= event_item.version %></td>
        <td><%= event_item.agenda_note %></td>
        <td><%= event_item.minutes_note %></td>
        <td><%= event_item.action_id %></td>
        <td><%= event_item.action %></td>
        <td><%= event_item.action_text %></td>
        <td><%= event_item.passed_flag %></td>
        <td><%= event_item.passed_flag_text %></td>
        <td><%= event_item.roll_call_flag %></td>
        <td><%= event_item.flag_extra %></td>
        <td><%= event_item.tally %></td>
        <td><%= event_item.consent %></td>
        <td><%= event_item.mover_id %></td>
        <td><%= event_item.seconder_id %></td>
        <td><%= event_item.matter_id %></td>
        <td><%= event_item.matter_guid %></td>
        <td><%= event_item.matter_file %></td> -->
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Event item', new_event_item_path %>
