<p id="notice"><%= notice %></p>

<p>
  <strong>Event:</strong>
  <%= @event_item.event_id %>
</p>

<p>
  <strong>Eventitemid:</strong>
  <%= @event_item.EventItemId %>
</p>

<p>
  <strong>Eventitemguid:</strong>
  <%= @event_item.EventItemGuid %>
</p>

<p>
  <strong>Eventitemlastmodified:</strong>
  <%= @event_item.EventItemLastModified %>
</p>

<p>
  <strong>Eventitemlastmodifiedutc:</strong>
  <%= @event_item.EventItemLastModifiedUtc %>
</p>

<p>
  <strong>Eventitemrowversion:</strong>
  <%= @event_item.EventItemRowVersion %>
</p>

<p>
  <strong>Eventitemeventid:</strong>
  <%= @event_item.EventItemEventId %>
</p>

<p>
  <strong>Eventitemagendasequence:</strong>
  <%= @event_item.EventItemAgendaSequence %>
</p>

<p>
  <strong>Eventitemminutessequence:</strong>
  <%= @event_item.EventItemMinutesSequence %>
</p>

<p>
  <strong>Eventitemagendanumber:</strong>
  <%= @event_item.EventItemAgendaNumber %>
</p>

<p>
  <strong>Eventitemvideo:</strong>
  <%= @event_item.EventItemVideo %>
</p>

<p>
  <strong>Eventitemvideoindex:</strong>
  <%= @event_item.EventItemVideoIndex %>
</p>

<p>
  <strong>Eventitemversion:</strong>
  <%= @event_item.EventItemVersion %>
</p>

<p>
  <strong>Eventitemagendanote:</strong>
  <%= @event_item.EventItemAgendaNote %>
</p>

<p>
  <strong>Eventitemminutesnote:</strong>
  <%= @event_item.EventItemMinutesNote %>
</p>

<p>
  <strong>Eventitemactionid:</strong>
  <%= @event_item.EventItemActionId %>
</p>

<p>
  <strong>Eventitemaction:</strong>
  <%= @event_item.EventItemAction %>
</p>

<p>
  <strong>Eventitemactiontext:</strong>
  <%= @event_item.EventItemActionText %>
</p>

<p>
  <strong>Eventitempassedflag:</strong>
  <%= @event_item.EventItemPassedFlag %>
</p>

<p>
  <strong>Eventitempassedflagtext:</strong>
  <%= @event_item.EventItemPassedFlagText %>
</p>

<p>
  <strong>Eventitemrollcallflag:</strong>
  <%= @event_item.EventItemRollCallFlag %>
</p>

<p>
  <strong>Eventitemflagextra:</strong>
  <%= @event_item.EventItemFlagExtra %>
</p>

<p>
  <strong>Eventitemtitle:</strong>
  <%= @event_item.EventItemTitle %>
</p>

<p>
  <strong>Eventitemtally:</strong>
  <%= @event_item.EventItemTally %>
</p>

<p>
  <strong>Eventitemconsent:</strong>
  <%= @event_item.EventItemConsent %>
</p>

<p>
  <strong>Eventitemmoverid:</strong>
  <%= @event_item.EventItemMoverId %>
</p>

<p>
  <strong>Eventitemmover:</strong>
  <%= @event_item.EventItemMover %>
</p>

<p>
  <strong>Eventitemseconderid:</strong>
  <%= @event_item.EventItemSeconderId %>
</p>

<p>
  <strong>Eventitemseconder:</strong>
  <%= @event_item.EventItemSeconder %>
</p>

<p>
  <strong>Eventitemmatterid:</strong>
  <%= @event_item.EventItemMatterId %>
</p>

<p>
  <strong>Eventitemmatterguid:</strong>
  <%= @event_item.EventItemMatterGuid %>
</p>

<p>
  <strong>Eventitemmatterfile:</strong>
  <%= @event_item.EventItemMatterFile %>
</p>

<p>
  <strong>Eventitemmattername:</strong>
  <%= @event_item.EventItemMatterName %>
</p>

<p>
  <strong>Eventitemmattertype:</strong>
  <%= @event_item.EventItemMatterType %>
</p>

<p>
  <strong>Eventitemmatterstatus:</strong>
  <%= @event_item.EventItemMatterStatus %>
</p>

<%= link_to 'Edit', edit_event_item_path(@event_item) %> |
<%= link_to 'Back', event_items_path %>
